/*
html {
	overflow-y: scroll;
}
*/

.toplevel_page_feed-reader,
.reader_page_feed-reader-entries-view,
.reader_page_feed-reader-feeds-view,
.reader_page_feed-reader-categories-view {
	background: #fff;
}

.feed-reader {
	margin-left: auto;
	margin-right: auto;
	padding-block-start: 0.25em;
	padding-block-end: 0.25em;
	padding-inline-end: 10px;
	max-width: 45rem;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 1.6;
}

.feed-reader .note {
	padding-top: 1.25em;
}

.feed-reader .hfeed > .note:first-child {
	/** Less padding for the first note in a feed. */
	padding-top: 0.5em;
}

.feed-reader .hentry + .hentry {
	border-top: 1px solid #ccc;
	margin-top: 1.75em;
}

.feed-reader .page-title,
.feed-reader .entry-title {
	font-weight: 600;
	margin: 1.25em 0 0;
}

.feed-reader .page-title,
.feed-reader h1.entry-title {
	font-size: 1.5em;
}

.feed-reader .page-title a:link,
.feed-reader .page-title a:visited {
	color: rgb(80, 87, 94);
}

.feed-reader h2,
.feed-reader h3 {
	font-size: 1.25em;
	margin-block-end: 0.25em;
}

.feed-reader .hfeed .entry-title {
	font-size: 1.25em;
}

.feed-reader .feed-links,
.feed-reader .entry-meta {
	margin: 0.25em 0 0.75em;
}

.feed-reader .note .entry-meta {
	margin: 0.5em 0;
}

.feed-reader .avatar,
.reader_page_feed-reader-feeds .avatar {
	border-radius: 50%;
	margin-inline-end: 1px;
	vertical-align: middle;
	position: relative;
	top: -1px;
}

.reader_page_feed-reader-feeds .avatar {
	filter: grayscale(1);
	margin-inline-end: 2px;
	top: -2px;
}

.reader_page_feed-reader-feeds tr:hover .avatar {
	filter: grayscale(0);
}

.feed-reader .entry-summary,
.feed-reader .entry-content {
	font-size: 18px;
	line-height: inherit;
}

.feed-reader p,
.feed-reader code,
.feed-reader kbd {
	font-size: inherit;
	line-height: inherit;
}

.feed-reader code,
.feed-reader kbd {
	font-size: inherit;
	line-height: inherit;
	margin: initial;
	padding: initial;
}

.feed-reader pre {
	background: #f0f0f1;
	background: rgba(0, 0, 0, 0.07);
	overflow-x: scroll;
	padding: 0.5em;
}

.feed-reader pre code {
	background: none;
}

.feed-reader ol,
.feed-reader ul {
	margin-inline-start: 1.25em;
}

.feed-reader ul {
	list-style: initial;
}

.feed-reader blockquote {
	border-inline-start: 0.25em solid #eee;
	margin: 1.25em 0;
	padding: 0 1.25em;
}

.feed-reader img {
	max-width: 100%;
	height: auto;
}

.feed-reader img[src*="images/core/emoji"],
.feed-reader img[src*="images%2Fcore%2Femoji"],
.feed-reader img[src*="images%252Fcore%252Femoji"],
.feed-reader img[src*="wpcom-smileys/twemoji"],
.feed-reader img[src*="wpcom-smileys%2Ftwemoji"],
.feed-reader img[src*="wpcom-smileys%252Ftwemoji"] {
	/* WordPress emoji. */
	max-height: 1em;
	vertical-align: baseline;
	position: relative;
	top: 0.125em;
}

.feed-reader figure {
	margin-inline-start: 0;
	margin-inline-end: 0;
}

.feed-reader figcaption {
	color: rgb(100, 105, 112);
	font-style: italic;
	margin-top: 0.125em;
}

.feed-reader figure img {
	display: block;
}

.feed-reader td {
	vertical-align: top;
}

.feed-reader .pagination ul {
	list-style: none;
	margin-inline-start: 0;
	margin-block-start: 2em;
	display: flex;
	gap: 1.5em;
	justify-content: space-between;
}

#categories-filter,
#feeds-filter {
	margin-bottom: 0.25em;
}

.feed-reader .actions {
	margin: 1.25em 0;
}

.feed-reader .actions {
	margin: 1.25em 0;
}

.reader_page_feed-reader-entries-view .note {
	margin-top: 1em;
}

.feed-reader .actions ul {
	list-style: none;
	margin: 0;
	display: flex;
	gap: 1.5rem;
	justify-content: space-between;
}

.feed-reader .actions li {
	margin: 0;
}

.feed-reader .actions li button {
	border-radius: 50%;
	line-height: 0;
	padding: 8px;
	vertical-align: middle;
}

.feed-reader .actions div {
	margin: 1.75em 0;
}

.feed-reader .actions div textarea {
	display: block;
	box-sizing: border-box;
	font-size: inherit;
	margin: 0.75em 0;
	padding: 0.5em;
	width: 100%;
}

.feed-reader .actions div button {
	display: block;
	font-size: inherit;
	margin-inline-start: auto;
}

.icon {
	fill: none;
	stroke: currentColor;
}

.reader_page_feed-reader-feeds-create .form-table,
.reader_page_feed-reader-feeds-edit .form-table {
	max-width: 50em;
}

.reader_page_feed-reader-feeds-create td,
.reader_page_feed-reader-feeds-edit td {
	padding-inline-end: 0;
}

.reader_page_feed-reader-feeds-create input[type="text"],
.reader_page_feed-reader-feeds-create input[type="url"],
.reader_page_feed-reader-feeds-edit input[type="text"],
.reader_page_feed-reader-feeds-edit input[type="url"] {
	box-sizing: border-box;
}

.reader_page_feed-reader-feeds-create #feed-list,
.reader_page_feed-reader-feeds-create #feed-create {
	display: none;
}

#feed-list {
	font-size: 14px;
	max-width: 50em;
}

#feed-list li {
	align-items: end;
	border: 1px solid #8c8f94;
	border-radius: 4px;
	display: flex;
	gap: 1.5em;
	justify-content: space-between;
	margin-bottom: 12px;
	padding: 0.75em;
}

#feed-list li:hover {
	background: #f6f7f7;
}

#feed-list h3 {
	font-size: inherit;
	margin: 0.0625em 0 0.25em;
}

#feed-list .select-feed {
	margin-bottom: 0;
}
