.toplevel_page_feed-reader,
.reader_page_feed-reader-entries-view,
.reader_page_feed-reader-feeds-view,
.reader_page_feed-reader-categories-view {
	background: #fff;
}

.feed-reader {
	margin-left: auto;
	margin-right: auto;
	padding-block-start: 0.25em;
	padding-block-end: 0.25em;
	padding-inline-end: 10px;
	max-width: 45rem;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 1.6;
}

.feed-reader .note {
	padding-top: 0.25em;
}

.feed-reader > .note {
	/** More padding on entry pages. */
	padding-top: 1.5em;
}

.feed-reader .hentry + .hentry {
	border-top: 1px solid #ccc;
	margin-top: 1.75em;
}

.feed-reader .page-title,
.feed-reader .entry-title {
	font-weight: 600;
	margin: 1.25em 0 0;
}

.feed-reader .page-title,
.feed-reader h1.entry-title {
	font-size: 1.5em;
}

.feed-reader .page-title a:link,
.feed-reader .page-title a:visited {
	color: rgb(80, 87, 94);
}

.feed-reader h2,
.feed-reader h3 {
	font-size: 1.25em;
	margin-block-end: 0.25em;
}

.feed-reader .hfeed .entry-title {
	font-size: 1.25em;
}

.feed-reader .feed-links,
.feed-reader .entry-meta {
	margin: 0.25em 0 0.75em;
}

.feed-reader .note .entry-meta {
	margin: 0.5em 0 0.5em;
}

.feed-reader .entry-summary,
.feed-reader .entry-content {
	font-size: 18px;
	line-height: inherit;
}

.feed-reader p,
.feed-reader code,
.feed-reader kbd {
	font-size: inherit;
	line-height: inherit;
}

.feed-reader code,
.feed-reader kbd {
	font-size: inherit;
	line-height: inherit;
	margin: initial;
	padding: initial;
}

.feed-reader pre {
	background: #f0f0f1;
	background: rgba(0, 0, 0, 0.07);
	overflow-x: scroll;
	padding: 0.5em;
}

.feed-reader pre code {
	background: none;
}

.feed-reader ol,
.feed-reader ul {
	margin-inline-start: 1.25em;
}

.feed-reader ul {
	list-style: initial;
}

.feed-reader blockquote {
	border-inline-start: 0.25em solid #eee;
	margin: 1.25em 0;
	padding: 0 1.25em;
}

.feed-reader img {
	max-width: 100%;
	height: auto;
}

.feed-reader figure {
	margin-inline-start: 0;
	margin-inline-end: 0;
}

.feed-reader figure img {
	display: block;
}

.feed-reader td {
	vertical-align: top;
}

.feed-reader .pagination ul {
	list-style: none;
	margin-inline-start: 0;
	margin-block-start: 2em;
	display: flex;
	gap: 1.5em;
	justify-content: space-between;
}

#categories-filter,
#feeds-filter {
	margin-bottom: 0.25em;
}
