@media only screen and (min-width: 961px) {
	html {
		overflow-y: scroll;
	}
}

.toplevel_page_feed-reader,
.reader_page_feed-reader-entries-view,
.reader_page_feed-reader-feeds-view,
.reader_page_feed-reader-categories-view {
	background: #fff;
}

.toplevel_page_feed-reader #wpcontent,
.reader_page_feed-reader-entries-view #wpcontent,
.reader_page_feed-reader-feeds-view #wpcontent,
.reader_page_feed-reader-categories-view #wpcontent {
	padding-inline-start: 0;
}

.toplevel_page_feed-reader #wpfooter,
.reader_page_feed-reader-entries-view #wpfooter,
.reader_page_feed-reader-feeds-view #wpfooter,
.reader_page_feed-reader-categories-view #wpfooter {
	display: none;
}

.toplevel_page_feed-reader #wpbody-content,
.reader_page_feed-reader-entries-view #wpbody-content,
.reader_page_feed-reader-feeds-view #wpbody-content,
.reader_page_feed-reader-categories-view #wpbody-content {
	padding-block-end: 0;
}

.feed-reader {
	align-items: start;
	display: grid;
	grid-template-columns: 1fr 1fr 42em 1fr 1fr;
	gap: 0.5em;
	margin: 0;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 1.7;
}

.feed-reader.with-sidebar {
	grid-template-columns: 290px 1fr 42em 1fr 1fr;
}

@media only screen and (max-width: 960px) {
	.feed-reader {
		display: block;
		font-size: 14px;
	}
}

@media only screen and (max-width: 1300px) {
	.feed-reader {
		grid-template-columns: 1fr 1fr auto 1fr 1fr;
	}

	.feed-reader.with-sidebar {
		grid-template-columns: 290px 1fr auto 1fr 1fr;
	}
}

.feed-reader-sidebar {
	background: #f0f0f1;
	box-sizing: border-box;
	box-shadow: inset -0.25em 0 0.25em -0.25em rgba(0, 0, 0, 0.25);
	grid-column: 1 / span 1;
	height: calc(100vh - 32px);
	overflow-x: hidden;
	overflow-y: auto;
	position: sticky;
	top: 32px;
	padding: 1em 1.25em;
}

@media only screen and (max-width: 960px) {
	.feed-reader-sidebar {
		display: none;
	}
}

.feed-reader-sidebar details ul {
	list-style: none;
	margin: 0;
	padding-inline-start: 1em;
}

.feed-reader-sidebar details summary {
	font-weight: bold;
	margin: 0.25em;
}

.feed-reader-sidebar details li {
	margin: 0.25em;
}

.feed-reader a:link,
.feed-reader a:visited,
.feed-reader .button-link {
	color: #0b5ed7;
}

.feed-reader a:hover,
.feed-reader a:active,
.feed-reader a:focus,
.feed-reader .button-link:hover,
.feed-reader .button-link:active,
.feed-reader .button-link:focus {
	color: #084bac;
}

.feed-reader-sidebar a:link,
.feed-reader-sidebar a:visited {
	color: #555;
	text-decoration: none;
}

.feed-reader-sidebar a:hover,
.feed-reader-sidebar a:active,
.feed-reader-sidebar a:focus,
.feed-reader-sidebar .active a {
	color: #3c434a;
	text-decoration: underline;
}

.feed-reader-main {
	grid-column: 3 / span 1;
	padding: 0.25em 1em 2.25em;
}

@media only screen and (max-width: 960px) {
	.feed-reader-main {
		margin-left: auto;
		margin-right: auto;
	}
}

.feed-reader .note {
	padding-top: 1.25em;
}

.feed-reader .hfeed > .note:first-child {
	/** Less padding for the first note in a feed. */
	padding-top: 0.5em;
}

.feed-reader .hentry + .hentry {
	border-top: 1px solid #ccc;
	margin-top: 1.75em;
}

.reader_page_feed-reader-entries-view .note {
	margin-top: 1em;
}

.feed-reader .page-title,
.feed-reader .entry-title {
	font-weight: bold;
	margin: 1.25em 0 0;
}

.feed-reader .page-title,
.feed-reader h1.entry-title {
	font-size: 1.5em;
}

.feed-reader h2,
.feed-reader h3 {
	font-size: 1.25em;
	margin-block-end: 0.25em;
}

.feed-reader .hfeed .entry-title {
	font-size: 1.25em;
}

.feed-reader .feed-links,
.feed-reader .entry-meta {
	margin: 0.25em 0 0.75em;
}

.feed-reader .note .entry-meta {
	margin: 0.5em 0;
}

.feed-reader-sidebar .avatar,
.feed-reader .entry-meta .avatar,
.reader_page_feed-reader-feeds .avatar {
	border-radius: 50%;
	margin-inline-end: 1px;
	vertical-align: -0.125em;
	width: 1em;
	height: 1em;
}

.feed-reader-sidebar .avatar,
.reader_page_feed-reader-feeds .avatar {
	filter: grayscale(1);
}

.feed-reader-sidebar li:hover .avatar,
.feed-reader-sidebar .active .avatar,
.reader_page_feed-reader-feeds tr:hover .avatar {
	filter: grayscale(0);
}

.feed-reader .entry-summary,
.feed-reader .entry-content {
	font-family: 'Merriweather', serif;
	font-size: 16px;
	line-height: inherit;
}

@media only screen and (max-width: 960px) {
	.feed-reader .entry-summary,
	.feed-reader .entry-content {
		font-size: 14px;
	}
}

.feed-reader p,
.feed-reader code,
.feed-reader kbd {
	font-size: inherit;
	line-height: inherit;
}

.feed-reader code,
.feed-reader kbd {
	font-size: inherit;
	line-height: inherit;
	margin: initial;
	padding: initial;
}

.feed-reader pre {
	background: #f0f0f1;
	background: rgba(0, 0, 0, 0.07);
	overflow-x: scroll;
	padding: 0.5em;
}

.feed-reader pre code {
	background: none;
}

.feed-reader ol,
.feed-reader ul {
	margin-inline-start: 1.25em;
}

.feed-reader ul {
	list-style: initial;
}

.feed-reader blockquote {
	border-inline-start: 0.25em solid #eee;
	margin: 1.25em 0;
	padding: 0 1.25em;
}

.feed-reader img {
	max-width: 100%;
	height: auto;
}

.feed-reader img[src*="images/core/emoji"],
.feed-reader img[src*="images%2Fcore%2Femoji"],
.feed-reader img[src*="images%252Fcore%252Femoji"],
.feed-reader img[src*="wpcom-smileys/twemoji"],
.feed-reader img[src*="wpcom-smileys%2Ftwemoji"],
.feed-reader img[src*="wpcom-smileys%252Ftwemoji"] {
	/* WordPress emoji. */
	max-height: 1em;
	vertical-align: -0.125em;
}

.feed-reader figure {
	margin-inline-start: 0;
	margin-inline-end: 0;
}

.feed-reader figcaption {
	color: rgb(100, 105, 112);
	font-style: italic;
	margin-top: 0.125em;
}

.feed-reader figure img {
	display: block;
}

.feed-reader td {
	vertical-align: top;
}

.feed-reader .pagination ul {
	list-style: none;
	margin-inline-start: 0;
	margin-block-start: 2em;
	display: flex;
	gap: 1.5em;
	justify-content: space-between;
}

.feed-reader .actions {
	margin: 1.25em 0;
}

.feed-reader .actions {
	margin: 1.25em 0;
}

.feed-reader .actions ul {
	list-style: none;
	margin: 0;
	display: flex;
	gap: 1.5rem;
	justify-content: space-between;
}

.feed-reader .actions li {
	margin: 0;
}

.feed-reader .actions li button {
	border-radius: 50%;
	line-height: 0;
	padding: 8px;
	vertical-align: middle;
}

.feed-reader .actions div {
	margin: 1.67em 0;
}

.feed-reader .actions div textarea {
	display: block;
	box-sizing: border-box;
	font-size: inherit;
	margin: 0.75em 0;
	padding: 0.5em;
	width: 100%;
}

.feed-reader .actions div button {
	display: block;
	font-size: inherit;
	margin-inline-start: auto;
}

.feed-reader .icon {
	fill: none;
	stroke: currentColor;
}

.feed-reader .entry-meta .icon {
	vertical-align: -0.125em;
}

.reader_page_feed-reader-feeds-edit .button.delete,
.reader_page_feed-reader-categories-edit .button.delete {
	border-color: #b32d2e;
	color: #b32d2e;
}

.reader_page_feed-reader-feeds-edit .button.button.delete:hover,
.reader_page_feed-reader-feeds-edit .button.button.delete:active,
.reader_page_feed-reader-feeds-edit .button.button.delete:focus,
.reader_page_feed-reader-categories-edit .button.button.delete:hover,
.reader_page_feed-reader-categories-edit .button.button.delete:active,
.reader_page_feed-reader-categories-edit .button.button.delete:focus,
.feed-reader .button-delete:hover,
.feed-reader .button-delete:active,
.feed-reader .button-delete:focus {
	border-color: #8f2424;
	color: #8f2424;
}

.feed-reader .entry-summary .avatar,
.feed-reader .entry-content .avatar {
	height: 1em;
	width: 1em;
	margin-inline-end: 0.25em;
	vertical-align: -0.125em;
}

/* List tables, etc. */
.reader_page_feed-reader-feeds-create .form-table,
.reader_page_feed-reader-feeds-edit .form-table,
.reader_page_feed-reader-feeds-edit fieldset,
.reader_page_feed-reader-categories-create .form-table,
.reader_page_feed-reader-categories-edit .form-table,
.reader_page_feed-reader-categories-edit fieldset {
	font-size: 14px;
	max-width: 50em;
}

.reader_page_feed-reader-feeds-edit fieldset,
.reader_page_feed-reader-categories-edit fieldset {
	border: 1px solid #ccc;
	box-sizing: border-box;
	margin: 2em 0 1em;
	padding: 1.25em;
}

.reader_page_feed-reader-feeds-edit .form-group,
.reader_page_feed-reader-categories-edit .form-group {
	align-items: baseline;
	display: flex;
	gap: 1.25em;
	justify-content: space-between;
}

.reader_page_feed-reader-feeds-create td,
.reader_page_feed-reader-feeds-edit td,
.reader_page_feed-reader-categories-create td,
.reader_page_feed-reader-categories-edit td {
		padding-inline-end: 0;
}

.reader_page_feed-reader-feeds-create input[type="text"],
.reader_page_feed-reader-feeds-create input[type="url"],
.reader_page_feed-reader-feeds-edit input[type="text"],
.reader_page_feed-reader-feeds-edit input[type="url"],
.reader_page_feed-reader-categories-create input[type="text"],
.reader_page_feed-reader-categories-create input[type="url"],
.reader_page_feed-reader-categories-edit input[type="text"],
.reader_page_feed-reader-categories-edit input[type="url"] {
		box-sizing: border-box;
}

.reader_page_feed-reader-feeds-create #feed-list,
.reader_page_feed-reader-feeds-create #feed-create {
	display: none;
}

.reader_page_feed-reader-feeds-create #feed-list {
	font-size: 14px;
	max-width: 50em;
}

.reader_page_feed-reader-feeds-create #feed-list li {
	align-items: end;
	border: 1px solid #8c8f94;
	border-radius: 4px;
	display: flex;
	gap: 1.5em;
	justify-content: space-between;
	margin-bottom: 12px;
	padding: 0.75em;
}

.reader_page_feed-reader-feeds-create #feed-list li:hover {
	background: #f6f7f7;
}

.reader_page_feed-reader-feeds-create #feed-list h3 {
	font-size: inherit;
	margin: 0.0625em 0 0.25em;
}

.reader_page_feed-reader-feeds-create #feed-list .select-feed {
	margin-bottom: 0;
}

#categories-filter,
#feeds-filter {
	margin-bottom: 0.25em;
}
/*
.feed-reader .link-block::before {
	content: '\a';
	white-space: pre;
}

.feed-reader p > a.image-wide:first-child + em:last-child {
	display: block;
	margin-block-start: 0.25em;
}
*/
